[2016-10-12 18:49] tim-sueberkrueb opened #1 "Downloads support"
Handle downloads and display them in a list in the right edge drawer.
Feature branch: [feature/downloads](https://github.com/lirios/browser/tree/feature/downloads)

[2016-10-12 18:53] tim-sueberkrueb opened #2 "Settings"
Introduce an initial set of configuration options (e.g. search engine).
Settings should be presented as tab page with the url `liri://settings`.
Consider supporting sub categories like `liri://settings/search-engine`.
Consider to support searching through the settings.
Initial settings should include:
* [x] start page (default: `start.liri.io`, `DuckDuckGo.com` or `Google.com`)
* [x] search engine

[2016-10-12 18:55] tim-sueberkrueb opened #3 "Bookmarks"
Support bookmarking websites and display a list of bookmarks in the right edge drawer.
Bookmarks could be internally saved as part of the settings (depends on #2) or separate.

[2016-10-12 18:58] tim-sueberkrueb opened #4 "Browsing history"
Save the browsing history and display it in a list in the right edge drawer.
History could be internally saved as part of the settings (depends on #2) or separate.

[2016-10-12 18:59] tim-sueberkrueb opened #5 "Find in page option"
Allow the user to search in web pages.

[2016-10-12 19:00] tim-sueberkrueb opened #6 "Incognito mode"
Allow the user to create a new incognito mode window.

[2016-10-12 19:25] plfiorini opened #7 "Update AUTHORS.md and README.md to be consistent"
Make them consistent with other repositories

[2016-10-13 22:27] plfiorini opened #8 "Can't load any web site"
![screenshot from 2016-10-14 00-27-16](https://cloud.githubusercontent.com/assets/843710/19369327/fdf99324-91a4-11e6-9a50-e8c4baa5dbb6.png)

[code]

[2016-10-13 22:57] plfiorini commented on #8
Never mind, I didn't build with the QtWebEngine support because I thought it would detect it automatically and I didn't read the README file :D

[2016-10-13 22:57] #8 closed

[2016-10-14 14:48] tim-sueberkrueb commented on #7
See e1c24ed1c089da6eca1b1414521f03d2a45e0cb7.
I will update the license headers as well.

[2016-10-14 14:58] tim-sueberkrueb commented on #7
Done.

[2016-10-14 14:58] #7 closed

[2016-10-14 15:23] tim-sueberkrueb commented on #1
Initial downloads support is done.

[2016-10-14 15:23] #1 closed

[2016-10-14 15:27] tim-sueberkrueb opened #9 "Keyboard shortcuts"
The browser should have a good selection of shortcuts.

[2016-10-15 15:24] tim-sueberkrueb commented on #5
See [feature/find_in_page](https://github.com/lirios/browser/tree/feature/find_in_page).

[2016-10-16 10:04] tim-sueberkrueb opened #10 "Refactor BrowserWindow layout"
- [x] Drop `DockCanvas`
- [x] ~~Elevate toolbar/expansion bar~~ By design: won't be elevated
- [x] New search bar
- [x] Denser layout
- [x] Improve Material Design compliance

[2016-10-16 10:14] timsueberkrueb commented on #5
Done. Will be tweaked during #10 most probably.

[2016-10-16 10:14] #5 closed

[2016-10-16 10:34] timsueberkrueb commented on #10
See [feature/refactor_browserwindow](https://github.com/lirios/browser/tree/feature/refactor_browserwindow).

[2016-10-18 21:32] pierremtb opened #11 "Drag or whatever action to move current tab to a new window"

[2016-10-18 21:49] pierremtb commented on #9
Definitely.
And it would be nice if the main key could be different on some systems (like Command on macOS).
I like Chrome's shortcuts, haven't checked Firefox for a while though.

[2016-10-19 17:40] timsueberkrueb commented on #11
@pierremtb Any idea how this could be implemented?

[2016-10-19 17:49] pierremtb commented on #11
Maybe we could add a dragUp and dragDown listener to your tabs engine? I don't how hard it would be though. At least a right click option in a right click menu on a tab, but that would be another issue :)

[2016-10-19 18:27] timsueberkrueb commented on #11
@pierremtb Yeah, the difficult question is about how to handle the drag outside of the application window. I don't know how/whether this can be implemented (platform independent).

+1

[2016-10-19 18:37] pierremtb commented on #11
I think we could only create a new window with the desired tab. It would be
enough, for now at least.

On Wed, Oct 19, 2016, 20:27 Tim Süberkrüb notifications@github.com wrote:

[2016-11-06 12:00] timsueberkrueb opened #13 "Support translations"
Make the browser translatable.

[2016-11-06 12:50] timsueberkrueb opened #14 "Theme color support"
Support theme color and set a dark theme for incognito mode.

[2016-11-06 12:54] timsueberkrueb commented on #6
In progress in [feature/new_windows](https://github.com/lirios/browser/tree/feature/new_windows).

[2016-11-08 10:54] timsueberkrueb commented on #10
Done.

[2016-11-08 10:54] #10 closed

[2016-11-09 19:09] timsueberkrueb commented on #6
Merged. Theming is tracked in #14.

[2016-11-09 19:09] #6 closed

[2016-11-11 07:08] plfiorini opened #16 "Executable installed under /opt on Linux"
Executable should be install in $PREFIX/bin where $PREFIX is /usr/local by default.
Distro packages will specify PREFIX=/usr.

[2016-11-12 20:24] #16 closed, assigned to timsueberkrueb

[2016-11-13 12:33] timsueberkrueb commented on #2
In progress in [feature/settings](https://github.com/lirios/browser/tree/feature/settings).

[2016-11-26 16:37] timsueberkrueb commented on #14
In progress in [feature/theme_color](https://github.com/lirios/browser/tree/feature/theme_color).

[2016-11-27 12:27] timsueberkrueb commented on #14
Current state:
* [x] Adapt website theme colors
* [x] Settings option
* [x] Incognito theme
* [x] Separate dark theme option
* [x] Apply dark theme (and incognito theme) application-wide (not only toolbar)
* ~~Rethink settings (3 different start url settings right now)~~

[2016-11-28 10:51] timsueberkrueb opened #18 "Adaptive Layout"
Make the browser completely responsive to all form factors:
* [ ] Mobile tabs view
* [ ] Responsive settings

[2016-11-28 10:55] timsueberkrueb opened #19 "Developer tools"
* [x] Source code view
* [ ] Web inspector

[2016-11-29 16:53] timsueberkrueb opened #20 "Indicate download failures"
Downloads currently fail silently. The user should be informed when a download fails.

[2016-12-02 19:54] timsueberkrueb opened #21 "Open with url argument"
* [x] Accept multiple urls as comand line argument
* [x] Local socket -> forward to already running instance

[2016-12-03 10:53] timsueberkrueb opened #22 "Extensions support"
Support extensions, both declarative and script-based.

This was split up in the following milestones:

## 1. Base
Declarative:
* [x] Search engines
* [x] Themes

TODO:
* [x] Improve error handling (e.g. in `extensionparser.cpp`)
* [x] Static field naming (e.g. `search.query` in `searchprovider.cpp`
      Use `$[search.query]` or something like this instead to make clear it's a field not a value?

[2016-12-07 12:33] timsueberkrueb commented on #2
Done. Settings will receive some further improvements (including breaking changes) before the initial release.

[2016-12-07 12:33] #2 closed

[2017-01-01 21:48] c-cesar opened #23 "Can't open a url"
After writing any url in address field Liri Browser redirects to google home page. The only way to navigate is to search teh site in Google and click in the result.

[2017-01-02 11:07] timsueberkrueb commented on #23
Hey, @c-cesar, thanks for reporting. This problem was confirmed by @Aldrog and [on G+](https://plus.google.com/u/0/+JohnPoison/posts/DoUic3QVnaA?cfem=1).

Unfortunately, I cannot reproduce this problem on Ubuntu 16.10, Unity 7. Contributions (via pull-request) are very welcome!

[2017-01-02 11:15] timsueberkrueb commented on #23
Would changing
[code]
to
[code]
in [Omnibox.qml](https://github.com/lirios/browser/blob/develop/src/ui/omnibox/Omnibox.qml) fix the problem for you?

[2017-01-02 20:31] timsueberkrueb commented on #23
@Aldrog confirmed the solution above via Slack confirmation.

[2017-01-02 20:32] #23 closed, assigned to nobody

[2017-01-03 14:31] sidgain opened #24 "Support Windows"
Hello guys, I wanted to know if you can build Liri Browser on Windows?

P.S.
It is a very interesting project.

[2017-01-03 14:52] timsueberkrueb commented on #24
Hey @Pietrafixa. In theory, Liri Browser should build on Windows, but I haven't tried it yet.
I know that @plfiorini is planning to try it out when he finds the time, I'll look into it as well (but probably not as soon). If anyone tries, please report your experience here. The relevant information should be added to [the wiki](https://github.com/lirios/browser/wiki/Development-Setup).
Though, ther

[2017-01-03 15:25] pierremtb commented on #24
I will try it in a near future (I have to check out Calculator too)

[2017-01-04 15:02] timsueberkrueb commented on #22
Work in progress on [feature/extensions](https://github.com/lirios/browser/tree/feature/extensions).

[2017-01-04 15:12] timsueberkrueb opened #26 "Improve logging"
* Use categories
* Allow the user to select a logging category
* Consider graphical log viewer for easier bug reporting (-> separate issue)

[2017-01-04 15:13] timsueberkrueb opened #27 "Dashboard"
It would be nice to have a dashboard as optional homepage (`liri://dash`).

Thinks to consider:
* Extensions support
* Background
* Search field

[2017-01-04 15:17] plfiorini opened #28 "Save cookies, passwords and form data"
It seems Browser doesn't remember credentials of Web sites where the user has authenticated.
Need to save cookies, passwords and form data.

[2017-01-04 22:20] demmm opened #29 "Change needed in setting material style?"
Building from latest commits (development, theme or new extension branch) on Qt 5.8RC, all show liri-browser running with the same error:
[code]
Seems this line:
https://github.com/lirios/browser/blob/develop/src/main/main.cpp#L43
needs adjusting:
https://bugreports.qt.io/browse/QTBUG-52936

[2017-01-04 22:41] #29 closed, assigned to nobody

[2017-01-05 21:08] PoisonousJohn commented on #9
work in progress
#30

[2017-01-06 18:12] timsueberkrueb commented on #9
@JohnPoison thanks very much for your contribution.

[2017-01-06 18:13] timsueberkrueb commented on #9
Some shortcuts are yet to be done:
* [x] Find in page (Ctrl+F)
* [x] New window
* [x] New private window ?

Other tasks:
* [x] "Meta+Shift+Tab" needs to be confirmed on macOS
* ~~Implement "Ctrl+l" for macOS~~

[2017-01-06 20:09] PoisonousJohn commented on #9
I can also implement missing shortcuts. Do I need to create a different branch for it?

[2017-01-07 10:29] timsueberkrueb commented on #9
@JohnPoison Cool! You just have to file a new pull request.
Some features are not implemented yet (e.g. fullscreen). Shortcuts for those will be implemented later.

[2017-01-07 11:06] timsueberkrueb commented on #9
Added [an initial wiki page about shortcuts](https://github.com/lirios/browser/wiki/Help-Shortcuts).

[2017-01-07 13:58] PoisonousJohn commented on #9
@tim-sueberkrueb for mac os x it's Cmd+L in Google Chrome, every reference to Ctrl in shortcuts is replaced to Cmd, so it should be ok for mac users

[2017-01-09 12:04] TheCom3di4n opened #32 "Add Startpage.com to search pages"
As the Liri Browser promotes its privacy, startpage.com should be added as one of the search pages delivered with installation. (IMHO) [Startpage](https://www.startpage.com) is one of the leading services in protecting the privacy of people. :+1:

[2017-01-09 14:46] LoogCP opened #33 ""SlimeEngine" is not installed ——archlinux"
QQmlApplicationEngine failed to load component
qrc:/ui/Main.qml:25 module "SlimeEngine" is not installed

Using QtWebEngine
fish: './liri-browser' terminated by signal SIGSEGV (Address boundary error)

[2017-01-09 15:07] timsueberkrueb commented on #33
Hey @LCP199210.
As described [in this part of the wiki](https://github.com/lirios/browser/wiki/Development-Setup), you need to setup `SlimeEngine` in order to run Liri Browser.
It looks like it's not installed.
Otherwise, I need more information: What did you do, how did you build/install the browser?

[2017-01-09 15:19] LoogCP commented on #33
There's no package named slimengine in pacman or yaourt(my os is arch).
I install qt5 first,sudo qmake .. CONFIG+=QTWEBENGINE_ENABLED, make , sudo
make install.
I cloud give more information but I shutdown my PC(11:17 in China).
Thinks!

2017年1月9日 下午11:07，"Tim Süberkrüb" <notifications@github.com>写道：

[2017-01-09 16:04] timsueberkrueb commented on #33
@LCP199210 I don't know if anyone has packaged SlimeEngine for Arch. As I said, please look in the wiki link I pasted above. You will find detailed instructions about how do build and install SlimeEngine and the browser from source.

[2017-01-09 16:10] Aldrog commented on #33
@LCP199210 @tim-sueberkrueb
There's slime-engine-git package in the AUR. Seems up-to-date and is maintained by @plfiorini

[2017-01-09 16:11] timsueberkrueb commented on #33
@Aldrog ah, awesome, thanks for the info :)

[2017-01-09 16:12] timsueberkrueb commented on #33
After all, SlimeEngine is just a simple pure-QML wrapper to support both QtWebEngine and Oxide.

[2017-01-10 10:42] plfiorini opened #34 "Desktop file"
Desktop file is missing.
Should be called io.liri.Browser.desktop and the appropriate QGuiApplication property should be set.

[2017-01-12 11:59] PoisonousJohn opened #35 "Add flash plugin support"
Flash is not working now

[2017-01-12 16:55] timsueberkrueb commented on #35
QtWebEngine supports Flash.
See http://doc.qt.io/qt-5/qtwebengine-features.html#pepper-flash-player-plugin-support.
Haven't tested it yet, though.

[2017-01-12 17:09] plfiorini commented on #35
Flash is really bad regarding security and stability, unfortunately some sites are still using it, the most notable being Facebook.  Of course we should support Flash but it should be disabled by default.

[2017-01-12 18:34] PoisonousJohn commented on #35
I tried to add

`Qt += webenginewidgets`

and

```QWebEngineSettings::defaultSettings()->setAttribute(QWebEngineSettings::PluginsEnabled, true)```

and it's not working for me when I'm checking it here https://www.adobe.com/software/flash/about/

[2017-01-12 18:38] timsueberkrueb commented on #35
@JohnPoison cool. We will need to handle it in a Oxide-compatible way (e.g. `Qt += webenginewidgets` only if `QTWEBENGINE_ENABLED`, same with the attribute).
I agree with @plfiorini it should be disabled by default.

[2017-01-12 18:42] PoisonousJohn commented on #35
Sure,  it was just for test.  I also agree that it should be disabled by default .  But the problem is that it's not working and I can't understand why. Flash in DemoBrowser from Qt examples works on adobe test page. Yet it doesn't work on http://rutube.ru

[2017-01-22 11:59] timsueberkrueb opened #36 "Icon"
The browser needs an icon.

[2017-01-22 12:01] timsueberkrueb commented on #33
Closing this. @LCP199210 if this didn't fix you issue, please feel free to reopen.

[2017-01-22 12:01] #33 closed, assigned to nobody

[2017-02-12 10:35] #14 closed, assigned to nobody

[2017-02-14 17:35] timsueberkrueb opened #38 "Fullscreen support"

[2017-02-15 17:48] timsueberkrueb commented on #28
https://github.com/tim-sueberkrueb/slime-engine/commit/9d2fd26da9c38b2e5c4c1c4d994b193213559e2f allows the browser (under QtWebEngine) to store cookies. `storageName` seems to be `""` per default.
Saving passwords and form data will have to be implemented manually. Not sure what's the best approach doing this in a platform-independent and secure way.

[2017-02-15 17:58] timsueberkrueb opened #39 "Provide a Snap"
Provide a [Snap package](http://snapcraft.io/) for the browser.
Things to consider:
* Oxide vs QtWebEngine
* Use [cloud part](https://github.com/tjyrinki/qt58) as reference.
* App platform snap (like `ubuntu-app-platform`) with Fluid and Qt 5.8?
  * Provide standalone and version based on app platform snap?
* Name: `liri-browser` vs `io.liri.browser`
* Store account management

[2017-02-16 13:51] plfiorini commented on #39
I propose to go full QtWebEngine and even drop SlimeEngine if it's possible to have a platform snap with Qt 5.8.

[2017-02-16 16:53] timsueberkrueb commented on #39
@plfiorini Yeah. I'd really like to get rid of SlimeEngine and use pure QtWebEngine when possible. Basically it has to ...
1. run fine on Mir
2. run fine on armhf devices
3. should not come with significant drawbacks related to platform integration (e.g. download handling on Ubuntu Touch [negligible though IMO]) and more important touch handling (e.g. text selection on touch devices)

[2017-02-16 17:05] Aldrog commented on #28
Found this library https://github.com/frankosterfeld/qtkeychain

[2017-02-18 16:15] Ximik commented on #28
Just want to comment that password/form data same is the thing making me (and not only me) enrage in modern browsers. And i think it's the last feature to be done.

Thanks you, guys. The project is really cool.

[2017-02-18 18:39] timsueberkrueb opened #40 "Drop SlimeEngine"
Drop SlimeEngine in favor of using only QtWebEngine.

Related to #39.

[2017-02-25 13:32] timsueberkrueb commented on #32
I just pushed an experimental extension for StartPage: https://github.com/tim-sueberkrueb/lbx-extras.

[2017-03-04 18:30] timsueberkrueb commented on #39
Status:
* Building QtWebEngine using snapcraft ([snapcraft.yaml](http://paste.ubuntu.com/24078688/)) results in a [strage NSS error](http://paste.ubuntu.com/24089807/).
* [Oxide doesn't build against Qt 5.8, yet](https://bugs.launchpad.net/oxide/+bug/1669753).
* Running QtWebEngine inside a snap doesn't work with or without confinement (`devmode`):
   * without confinement: http://paste.ubuntu.com

[2017-03-13 01:01] eliza0x opened #41 "Roboto doesn't support some languages"
I want to changing default fonts. Default fonts can't displaying Japanese.

[2017-03-13 17:36] timsueberkrueb commented on #41
Thanks for reporting @eliza0x. This is a bug.
The Noto font should be used for languages that Roboto doesn't support, including Chinese (simplified and traditional), Japanese, Korean, Thai and Hindi ([according to Wikipedia](https://en.wikipedia.org/wiki/Roboto#Language_coverage)).

[2017-03-18 10:28] timsueberkrueb opened #42 "QML import versions"
QML import versions change frequently. Would it make sense to ...
* create a script to update versions easily
* use `QtQuick 2.0` everywhere instead of `QtQuick 2.X`
I'm not sure about this. What do you think?

[2017-03-18 10:32] timsueberkrueb commented on #22
This is now at a state where the base is implemented (declarative extension support). In order to prevent this branch growing to big, I think it is time to split this up. I will prepare to create a pull request to merge the base with develop and a new branch will be created for the next steps (which are script support and a better gui).

[2017-03-18 10:37] timsueberkrueb commented on #22
New branch for extensions base:  [feature/extensions_base](https://github.com/lirios/browser/tree/feature/extensions_base).

[2017-03-18 10:52] timsueberkrueb commented on #41
This is an upstream bug in QtQuick Controls 2: https://bugreports.qt.io/browse/QTBUG-59579.
Thanks @Aldrog.

[2017-03-18 11:29] Aldrog commented on #41
@eliza0x currently everything should work fine if you have Noto installed, but **not** Roboto

[2017-03-19 09:41] probonopd commented on #39
Would you be interested in an [AppImage](http://appimage.org/)? Shouldn't be too hard using [linuxdeployqt](https://github.com/probonopd/linuxdeployqt). Let me know if you'd like help.

Providing an [AppImage](http://appimage.org/) would have, among others, these advantages:
- Works for most Linux distributions (including Ubuntu, Fedora, openSUSE, CentOS, elementaryOS, Linux Mint, and others)
- On

[2017-03-19 09:50] timsueberkrueb opened #44 "Consider providing an AppImage"
As suggested by @probonopd we should consider to provide AppImage packages.

Living list of things to think about:
* Automatic builds?

I haven't looked into AppImage yet, contributions are very welcome!

---
Would you be interested in an [AppImage](http://appimage.org/)? Shouldn't be too hard using [linuxdeployqt](https://github.com/probonopd/linuxdeployqt). Let me know if you'd like help.

Provi

[2017-03-19 09:51] timsueberkrueb commented on #39
Hey @probonopd, thanks very much for offering your help! That's of course something worth looking into as well. I opened a [separate issue for this](https://github.com/lirios/browser/issues/44). Could you possibly copy your comment over there? Thanks :)
EDIT: copied your comment in the issue description.

[2017-03-19 09:54] probonopd commented on #44
[Many projects](https://github.com/probonopd/linuxdeployqt#projects-using-linuxdeployqt) use a combination of [Travis CI](https://travis-ci.org/) and [linuxdeployqt](https://github.com/probonopd/linuxdeployqt) to provide continuous builds of their application in AppImage format. This means that for evey `git push`, a version gets built and uploaded.

For this to happen, could you give me instructi

[2017-03-19 09:55] plfiorini commented on #44
@probonopd How does AppImage handle common libraries such as Qt + Fluid (our UI toolkit), is it possible to share it between applications the way you do with Flatpak runtimes?

[2017-03-19 09:56] timsueberkrueb commented on #44
@probonopd I fear that's not that easy on Ubuntu 14.04 since we require Qt >= 5.8. There's a detailed [development guide on the wiki](https://github.com/lirios/browser/wiki/Development-Setup).

[2017-03-19 09:58] probonopd commented on #44
AppImage is just a self-mounting filesystem that executes whatever you put inside. So the answer is "it depends":

* If you care about running these applications only on LiriOS, then you do not need to bundle Qt + Fluid, and just assume that the system provides them (where they can be managed by a traditional package manager)
* If you want your application to run on as many systems as possible, th

[2017-03-19 09:59] plfiorini commented on #44
@tim-sueberkrueb probably it would be better to use Arch binaries (until we buy a better build server and can make our binaries and recycle them between Flatpak, AppImage and Snap). On several projects we already have a Travis CI using ArchTravis so we bypass the limited Ubuntu distro they provide out of the box.

[2017-03-19 10:00] probonopd commented on #44
That is no problem, check for example https://github.com/jeena/FeedTheMonkey/blob/master/.travis.yml which also needs Qt 5.8.

Could you update README.md with the actual commands to fulfill these needs? That would help a lot.

[2017-03-19 10:01] probonopd commented on #44
I don't think so - binaries built on Arch require the latest versions of everything. What you want is actually the reverse thing, you want to build on the oldest system on which your code still can be built; that way you get binaries that run on more than just the very latest target systems (distributions). Again, if you worry only about the latest version of Liri OS and are not interested in runn

[2017-03-19 10:03] plfiorini commented on #44
@probonopd so maybe a CentOS 7 container to build the binaries would do

[2017-03-19 10:05] probonopd commented on #44
Yes, that would be a good choice. Linus' [Subsurface](https://subsurface-divelog.org/) application, for example, uses even CentOS 6. A more pragmatic approach would be Ubuntu 14.04 on [Travis CI](https://travis-ci.org/).

[2017-03-19 10:28] plfiorini commented on #44
@probonopd Fluid can be built as follows:

[code]

slime:

[code]

browser:

[code]

EDIT: added slime engine

[2017-03-19 10:39] probonopd commented on #44
Work-in-progress here:
https://github.com/probonopd/browser/blob/patch-1/.travis.yml

Build logs can be seen on
https://travis-ci.org/probonopd/browser/builds/

[2017-03-19 10:45] plfiorini commented on #44
@tim-sueberkrueb btw later we can upload it to a bintray repo we already have containers and the CI binaries there

[2017-03-19 10:46] #36 closed, assigned to nobody

[2017-03-19 10:46] probonopd commented on #44
Cool, you are using Bintray, that makes it super simple to enable binary delta updates...
https://github.com/AppImage/AppImageSpec/blob/master/draft.md#update-information

Check
https://www.youtube.com/watch?v=FqVAtHdK1N0

[2017-03-19 10:46] #34 closed, assigned to nobody

[2017-03-19 10:57] timsueberkrueb commented on #44
Just added the new icon by @crutchcorn and a desktop file.

[2017-03-19 10:58] probonopd commented on #44
@tim-sueberkrueb how did you know, just was about to complain about the lack of a desktop file :-) Next up: an [AppStream metainfo file](https://www.freedesktop.org/software/appstream/docs/chap-Quickstart.html#sect-Quickstart-DesktopApps) ;-)

[2017-03-19 11:15] probonopd commented on #44
Now getting

[code]
after having merged the branch that includes the desktop file... :-(

[2017-03-19 11:17] timsueberkrueb commented on #44
@probonopd you merged `feature/extensions_base`. The desktop file is also in `develop`.

[2017-03-19 11:18] timsueberkrueb commented on #44
@probonopd `feature/extensions_base` requires QuaZIP: http://quazip.sourceforge.net/

[2017-03-19 11:29] pierremtb commented on #44
Glad to have you here @probonopd ! Good work with linuxdeployqt, I ran on it last week.
We'll need help with Calculator too :)

[2017-03-19 11:31] pierremtb commented on #44
When I tried it last week, it worked on too different Ubuntu distros, but not on @plfiorini 's Arch

[2017-03-19 11:47] probonopd commented on #44
We'll need help with Calculator too :)

Let's do this one first, and then see about Calculator - I hope you can figure it out if you have a working  "template" :-)

What was not working? Can you open an issue there?

[2017-03-19 12:10] probonopd commented on #44
"SlimeEngine" does not get installed into the correct `$PREFIX`:

https://travis-ci.org/probonopd/browser/builds/212669844#L1062-L1067

It should not install stuff to `../appdir/opt/qt58` but to `../appdir/usr/...`

[code]

[2017-03-19 12:11] timsueberkrueb commented on #44
@probonopd SlimeEngine doesn't respects `PREFIX`, let me fix.

[2017-03-19 12:19] timsueberkrueb commented on #44
@probonopd done.

[2017-03-19 12:36] probonopd commented on #44
@tim-sueberkrueb still doesn't end up in `/usr/lib/x86_64-linux-gnu/qt5/qml/` but seemingly in `/usr/SlimeEngine` which doesn't feel quite right either. Maybe this is a case for `CONFIG+=use_qt_paths`?

[2017-03-19 12:43] probonopd commented on #44
Right now linuxdeployqt fails to deploy it with

[code]

[2017-03-19 15:57] probonopd commented on #44
Now I am getting

[code]
Do you know where these things normally are supposed to come from?

[2017-03-19 16:02] plfiorini commented on #44
Missing qtgraphicaleffects pkg. You Aldo need qtsvg and qtwayland btw

[2017-03-19 16:08] probonopd commented on #44
There is no qt58wayland in https://launchpad.net/~beineri/+archive/ubuntu/opt-qt58-trusty

[2017-03-19 16:17] probonopd commented on #44
Check out https://transfer.sh/1wEhR/liri-browser-git.6b99833-x86-64.appimage, it is running on my Ubuntu 16.04 system. Further fine-tuning may be needed for other systems. Feedback welcome.

[2017-03-19 16:21] probonopd commented on #44
Looks like I need to manually copy in `usr/qml/Fluid/Controls/icons` since this seemingly doesn't get installed automatically? But where can I get them from?

Getting lots of

[code]

Any hints appreciated.

[2017-03-19 17:12] Aldrog commented on #44
Gives me
[code]
on Arch

[2017-03-19 17:27] timsueberkrueb commented on #44
@probonopd After cloning and `cd`ing into fluid, run `./scripts/fetch_icons.sh`.
I get the same error as @Aldrog on Ubuntu 16.04.

[2017-03-19 17:38] timsueberkrueb commented on #44
~~@plfiorini the new `qmake` doesn't seem to install the icons. I just checked locally.~~

[2017-03-19 17:43] timsueberkrueb commented on #44
~~@plfiorini or do we need to run `fetch_icons` additionally?~~

[2017-03-19 17:46] timsueberkrueb commented on #44
My fault. Need to run `./scripts/fetch_icons.sh`.

[2017-03-19 17:52] probonopd commented on #44
@tim-sueberkrueb where do the icons get deployed in a regular installation?

[2017-03-19 17:57] probonopd commented on #44
@Aldrog @tim-sueberkrueb please try:

[code]

Does it run now on your system?

[2017-03-19 18:05] probonopd commented on #44
Yay, the icons are there now:

![screenshot from 2017-03-19 19-04-17](https://cloud.githubusercontent.com/assets/2480569/24083430/ed6d8b7a-0cd6-11e7-9ab2-cac84df8f0a3.png)

This is on a stock Ubuntu 16.04.

[2017-03-19 18:08] probonopd commented on #44
The icon in the dock is not the application icon on Ubuntu:

![screenshot from 2017-03-19 19-06-20](https://cloud.githubusercontent.com/assets/2480569/24083444/2a6d5e74-0cd7-11e7-987c-66364ee14742.png)

This is easy to fix, please use something along these lines to load the icon ([example](https://github.com/probonopd/QtQuickApp/blob/master/main.cpp)):

[code]

[2017-03-19 18:09] timsueberkrueb commented on #44
`<install-path>/Fluid/Controls/icons`

yes, great!

[2017-03-19 18:10] timsueberkrueb commented on #44
hmm, not sure why [this](https://github.com/lirios/browser/blob/develop/src/main/main.cpp#L51) doesn't work ...

[2017-03-19 18:10] probonopd commented on #44
Good question...

[2017-03-19 18:12] timsueberkrueb commented on #44
hmm, it works when I test it locally, but I also have the desktop file installed. Let me remove that.

[2017-03-19 18:13] timsueberkrueb commented on #44
Doesn't work locally either, actually. So not the AppImage's fault.

[2017-03-19 18:23] timsueberkrueb commented on #44
@probonopd should work now :)

[2017-03-19 18:23] probonopd commented on #44
PR sent: https://github.com/lirios/browser/pull/45

[2017-03-19 18:31] timsueberkrueb commented on #44
@probonopd wow, thank you so much <3 Are you okay with squashing the commits?

[2017-03-19 18:32] timsueberkrueb commented on #44
The AppImage works flawlessly for me now (including the icons + icon in launcher).

[2017-03-19 18:34] probonopd commented on #44
Great to hear that!

Yes, sure! Like I wrote in the PR :-)

[2017-03-19 19:49] #44 closed, assigned to nobody

[2017-03-19 19:56] timsueberkrueb opened #46 "Use Bintray for AppImage updates"
Use Bintray for AppImage binary delta updates.
* https://github.com/AppImage/AppImageSpec/blob/master/draft.md#update-information
* https://www.youtube.com/watch?v=FqVAtHdK1N0

Suggested by @probonopd. See #44
CC: @plfiorini

[2017-03-19 22:41] plfiorini commented on #42
Keep `QtQuick 2.0` and bump the import version when you really need (e.g. a new API added in later version, check `since` in the documentation).

[2017-03-22 16:06] timsueberkrueb opened #47 "Provide a Flatpak"

[2017-03-22 16:46] plfiorini commented on #47
qtwebengine is missing from the runtime due to build issues, that is a blocker.

[2017-03-23 16:29] PoisonousJohn commented on #38
Hey @tim-sueberkrueb !  Could you please add description of this issue? What should be included in this feature?

[2017-03-23 16:44] timsueberkrueb commented on #38
Hey @JohnPoison, sure!
The following scenarios should be supported:
* User presses F11/Clicks on menu item "Fullscreen" to go in fullscreen mode
* A website (e.g. YouTube) requests fullscreen mode

In both cases, the window should [`showFullscreen`](https://doc.qt.io/qt-5/qml-qtquick-window-window.html#showFullScreen-method) and both omnibar and tabbar should only show up when the user hovers the

[2017-03-24 12:03] eliza0x commented on #41
@Aldrog Installing Noto and solved problem. thank you. :smile:

[2017-03-24 12:03] #41 closed, assigned to nobody

[2017-03-24 14:43] timsueberkrueb commented on #41
@eliza0x installing Noto alone solved the problem or did you have to uninstall Roboto?

[2017-03-24 19:00] ghost commented on #22
In my mind, the extensions ecosystem should work as [npmjs](https://www.npmjs.com/), but with a few tweaks that would make it even better:

**Basic functionalities:**

- Hosting a kind of "marketplace"(though I would keep extensions free) on the main site( for example `liri.io/marketplace` or if you prefer `marketplace.liri.io`). The web system should have a decent user administration system and b

[2017-03-24 19:34] timsueberkrueb commented on #22
Hey @Luke123443, thanks for submitting your ideas and suggestions about this issue! Of course a proper market place for extensions would be brilliant, but I'm afraid that this is probably not feasible for different reasons - at least not at this point.
What I thought about for a start is similar to the second part of your second point. Liri browser extensions are basically ZIP files, there's no re

[2017-03-24 22:29] ghost commented on #22
So you're basically planning to code only for the fontend until you have a solid back-end base(wich sounds perfect; I think that your idea is probably the best for now(since we don't need to compile the scripts, well obviously if we have some huge addons developers could use webpack or some bundling tool), but to make this compilation option of serving minified files(or simply remove extra weight)

[2017-03-25 09:45] timsueberkrueb commented on #22
@Luke123443 `liri://extensions` is already written using our native UI framework in QML. But there should be a way for extensions to expose custom settings which we could implement by allowing extensions to provide some HTML code we'd embed but I personally would prefer a more limited model which would ensure those settings to fit the general design.
Yep, we definitely want to have a permission sy

[2017-03-25 12:44] Aldrog commented on #22
@tim-sueberkrueb did you consider making scripting API compatible with Chrome's one?
https://developer.chrome.com/extensions/api_index

[2017-03-25 12:51] timsueberkrueb commented on #22
@Aldrog That sounds pragmatic. We wouldn't cover everything that chrome supports though and our manifest files are different.
We could also try to completely support chrome extensions but that would be an enormous effort (also too keep up with changes) I fear.

[2017-03-25 13:31] Aldrog commented on #22
Even partial support might be good to ease porting. It would be cool if you could take a Chrome extension, write an lbx manifest, replace all chrome.* calls with liri.* and the extension would work in most cases.

Also, designing a new API is a hard task, embracing an existing one is easier.

[2017-03-26 16:56] eliza0x commented on #41
@tim-sueberkrueb Installing Noto alone, I don't uninstall Roboto.

[2017-03-26 17:34] timsueberkrueb commented on #41
@eliza0x is Roboto installed at all?

[2017-03-29 09:38] eliza0x commented on #41
Sorry. not installed Roboto.

[code]

[2017-03-29 11:24] timsueberkrueb commented on #41
@eliza0x okay, thanks for the information.

[2017-04-04 09:01] PoisonousJohn commented on #38
Job is done in #48

[2017-04-04 10:54] timsueberkrueb commented on #38
Great, thank you!

[2017-04-04 10:54] #38 closed, assigned to nobody

[2017-04-04 12:21] timsueberkrueb commented on #4
Also allow reopening tabs from the history by pressing `Ctrl+Shift+T`.

[2017-04-04 21:20] PoisonousJohn opened #50 "Add "start with previously opened tabs" option"
Nice to have feature is to start with tabs opened in previous session

[2017-04-05 09:58] timsueberkrueb commented on #50
Yeah! Alternative option/in addition to #27.

[2017-04-05 10:05] PoisonousJohn commented on #50
#27 is about new tab content, this feature is about starting new browser instance (session)

[2017-04-05 10:09] timsueberkrueb commented on #50
@JohnPoison yeah, you're right, not really related. Besides of that a new dashboard could be opened on start vs. all tabs from last session could be restored.

[2017-04-05 10:26] timsueberkrueb commented on #40
Moving this to `TODO`.

[2017-04-05 10:27] timsueberkrueb commented on #42
Moving this to `TODO`.

[2017-04-05 10:28] timsueberkrueb commented on #13
Moving this to `TODO` in `v0.4.0`.

[2017-04-05 15:12] timsueberkrueb commented on #9
@JohnPoison this can be closed now, right?

[2017-04-05 15:13] PoisonousJohn commented on #9
@tim-sueberkrueb Yes, I think

[2017-04-05 15:14] timsueberkrueb commented on #9
Great, thanks :)

[2017-04-05 15:14] #9 closed

[2017-04-06 11:36] PoisonousJohn commented on #28
- [ ] add support for saving/loading cookies
- [ ] provide save cookies setting
- [ ] provide save cookies exceptions setting
- [ ] provide view with list of all saved cookies and option to remove certain entries

[2017-04-06 21:29] PoisonousJohn opened #51 "Loading page indicator appears on any content loading"
While browsing, if you scroll down the page and there are images, they are loading and loading indicator appears every time.

This is annoying.

[2017-04-07 10:34] timsueberkrueb commented on #51
Not sure about this one. Other browsers behave similarly.

[2017-04-07 10:56] timsueberkrueb commented on #22
We decided to lay down extensions support to concentrate on more important features for now.

[2017-04-07 10:59] #22 closed, assigned to timsueberkrueb

[2017-04-07 11:01] timsueberkrueb commented on #40
As Oxide is most likely to be a dead project soon (as is Ubuntu Phone), it doesn't make any sense to stick with SlimeEngine any longer. Moving to QtWebEngine is first priority now.

[2017-04-07 12:23] timsueberkrueb opened #52 "Context menu"

[2017-04-07 12:24] timsueberkrueb opened #53 "Handle certificate errors"

[2017-04-07 12:25] timsueberkrueb commented on #40
Work in progress in `feature/qtwebengine`.

[2017-04-11 07:00] PoisonousJohn opened #54 "Browser hangs when is moved to the second screen"
Steps to repro:
1. Open browser on main screen
2. Move window to the secondary screen
3. Notice that browser hangs
Qt 5.8
Distro:
Linux Mint 17.3, Cinnamon

[2017-04-11 08:10] plfiorini commented on #54
Works for me on Fedora 25, latest Flatpak build of Browser.
BTW Our Flatpak runtime has Qt 5.8.0

[2017-04-11 11:36] timsueberkrueb commented on #54
Can't reproduce on Ubuntu 16.04, Unity 7.

[2017-05-05 14:56] timsueberkrueb commented on #42
Will be done right after merging `feature/qtwebengine`.

[2017-05-07 10:31] timsueberkrueb commented on #40
Done.

[2017-05-07 10:31] #40 closed, assigned to nobody

[2017-05-07 10:38] timsueberkrueb commented on #32
Extensions support was dropped for now, so we might only support a certain set of search engines - at least for the first release(s).

[2017-05-07 10:39] timsueberkrueb commented on #42
`feature/qtwebengine` was merged. Is there a script I can use to easily change QML import versions?

[2017-05-07 10:39] timsueberkrueb commented on #47
@plfiorini there is a Flatpak package now, correct?

[2017-05-07 10:40] plfiorini commented on #47
Yes we can close this issue now

[2017-05-07 10:40] #47 closed, assigned to nobody

[2017-05-07 10:47] plfiorini commented on #42
`find . -type f -name "*.qml" | xargs perl -p -i -e 's@old@new@g'`

replace `old` with the old import and `new` with the new import.

[2017-05-07 10:49] plfiorini commented on #42
Beware that `import QtQuick 2.0` might not be good if you are using something that is available only in later versions.

[2017-05-16 15:31] Suburbanno opened #57 "release?"
Windows build?  how to?

[2017-05-16 16:49] timsueberkrueb commented on #57
Hey @Suburbanno. There's no release, yet.
We haven't looked into building for Windows yet, however [we plan to](https://github.com/lirios/browser/issues/24).
For building on your GNU/Linux distro, please see [this wiki page](https://github.com/lirios/browser/wiki/Development-Setup), which is slightly outdated, though. Basically, you can skip the `SlimeEngine` step now and there's no need for `CONF

[2017-05-16 21:17] ghost commented on #24
Any news @pierremtb ? I know that Liri calculator is stable and published on the Windows store, what about liri browser?

[2017-05-20 20:11] PoisonousJohn opened #58 "Support reading local files"
E.g. file:///some/path/index.html

[2017-05-26 10:03] #42 closed, assigned to nobody

[2017-05-26 10:03] timsueberkrueb commented on #42
Thank you, @plfiorini!

[2017-06-08 10:08] timsueberkrueb commented on #13
In progress in [`feature/translations`](https://github.com/lirios/browser/tree/feature/translations).

[2017-06-09 15:00] timsueberkrueb commented on #13
Done.

[2017-06-09 15:00] #13 closed, assigned to nobody

[2017-06-10 14:56] timsueberkrueb commented on #24
I just successfully built and ran Liri Browser on Windows. [Development Setup instructions on the wiki](https://github.com/lirios/browser/wiki/Development-Setup) have been updated and notes about Windows added.
I have no experience how to submit applications to the Windows store, however. Maybe @pierremtb can help with that when we create the first release.

[2017-06-10 14:59] timsueberkrueb commented on #57
There is now information about how to build the browser on Windows. Please refer to my comment here: https://github.com/lirios/browser/issues/24#issuecomment-307570005.

[2017-06-10 14:59] #57 closed, assigned to nobody

[2017-06-12 10:58] zubozrout opened #61 "Support Ubuntu Touch"
Hello,
I know that at one point there was a preview release of Liri web browser for Ubuntu Touch and I wonder how hard would it be to support it again?

It seems that based on some internal UBports discussions the current system web browser wont receive much updates since Oxide is no longer developed and is missing maintainers. The talks are to utilize some other web browser amongst them Liri is o

[2017-06-12 11:08] timsueberkrueb commented on #61
Hey @zubozrout! Unfortunately there are some road blockers.
The first problem is that Ubuntu Touch right now uses Qt 5.4. The most current planning status that I know of is that they plan to work towards upgrading to Qt 5.7 at some point at the future. Unfortunately, [Fluid](https://github.com/lirios/fluid) already requires Qt >= 5.8 right now. The second problem is that nobody seems to have yet s

[2017-06-12 19:14] ShalokShalom commented on #61
How much support is there for Ubuntu touch?

[2017-06-12 19:38] Flohack74 commented on #61
Indeed we are aiming for Qt 5.7, but its way too early to say when this will land. Snaps are also a problem since they are missing basic access to Contenthub and other stuff we need for proper interaction. So unless we can bundle all things in a (huuuuge) click package it can only be put on hold. this will be true for other browser alternatives as well.

[2017-06-12 20:26] timsueberkrueb commented on #61
@Flohack74 yeah, I definitely see that. However, if anyone succeeds building Qt >= 5.8 and QtWebEngine for arm and it runs on Ubuntu touch, we could indeed have some sort of fat click package. That would suck of course but still would be better than nothing, right? :) So, if anyone manages that, please report it here!

[2017-06-12 20:27] timsueberkrueb commented on #61
@ShalokShalom can you explain what you mean, exactly?

[2017-06-12 20:48] ShalokShalom commented on #61
Hnn, Canonical dropped the support for Ubuntu touch, yes?
I think an own, independent group care for them now.

[2017-06-12 20:57] Flohack74 commented on #61
Yes thats us @ShalokShalom :) http://www.ubports.com

[2017-06-12 21:04] timsueberkrueb commented on #61
@Flohack74 As it is right now, I think you're probably better off with Sailfish OS' default browser which doesn't require the latest Qt version and uses some sort of Gecko backend afaik if you're looking for a browser to use as default on Ubuntu Phone and you don't want to create your own/switch the Oxide engine in Canonical's browser for something else and maintain that.

[2017-06-16 16:51] timsueberkrueb commented on #39
There's now [snap packaging for Liri Browser](https://github.com/lirios/snap-apps)! No package has yet been released to the store, though.
~EDIT: It also doesn't start, yet c:~

[2017-07-05 09:22] #20 closed, assigned to timsueberkrueb

[2017-07-05 09:29] timsueberkrueb commented on #58
Done.

[2017-07-05 09:29] #58 closed, assigned to nobody

[2017-07-05 11:55] timsueberkrueb commented on #52
Done.

[2017-07-05 11:55] #52 closed, assigned to nobody

[2017-07-05 12:01] timsueberkrueb commented on #28
~Regression from SlimeEngine removal: Cookies not saved anymore.~ See #62.

[2017-07-30 10:18] timsueberkrueb opened #62 "Segfaults on exit"
This might also be the reason for cookies not getting saved on exit.

`gdb` backtrace:
[code]

[2017-08-14 09:21] timsueberkrueb commented on #62
Looks like this upstream Qt bug: https://bugreports.qt.io/browse/QTBUG-61434.

[2017-08-14 09:37] timsueberkrueb commented on #62
Only occurs with Qt 5.9/5.9.1.

[2017-09-15 05:21] plfiorini opened #63 "CI build broken"
With the last commit I accidentally broke the build due to a higher qbs requirement:

https://travis-ci.org/lirios/browser/builds/275744329?utm_source=email&utm_medium=notification

Maybe an update to Qt 5.9.0 will fix this. This issue is just a reminder.

[2017-09-15 16:20] timsueberkrueb commented on #63
@plfiorini yep, looks like it. The [Qt 5.9.1 for /opt Xenial](https://launchpad.net/~beineri/+archive/ubuntu/opt-qt591-xenial/+packages) ppa seems to contain `qt59qbs` (`v1.8.1`).

[2017-09-15 18:07] NyxCode opened #64 "Incompatibility with latest Fluid changes"
After installing `liri-browser` through the [arch user repository](https://aur.archlinux.org/packages/liri-browser-git/), I get the following error when I try to start `liri-browser`:
[code]
Then, the application exits with `134`

[2017-09-15 20:02] timsueberkrueb commented on #64
Hey @NyxCode, thanks for reporting.
Looks like [BaseListItem has been removed from Fluid](https://github.com/lirios/fluid/commit/88f493fc59419a7af6af66004dd67f95d1bac67f). Note that this not a stable package as it is directly built and published from git so breakage like this might happen from time to time.

[2017-09-16 09:45] timsueberkrueb commented on #63
The problem with Qt 5.9.1 however is #62 ... probably better than broken CI builds, though.

[2017-09-16 09:50] plfiorini commented on #63
@tim-sueberkrueb Nope a buggy Qt should not go into the appimage bundle, I can revert my patch.

[2017-09-16 09:58] timsueberkrueb commented on #63
@plfiorini okay. I would like to see the fix for this Qt bug to land in Qt 5.9.2. The patch seems to be "in review" since end of July though.

[2017-09-16 09:59] plfiorini commented on #63
@tim-sueberkrueb yeah :/

[2017-09-16 13:19] #64 closed, assigned to nobody

[2017-09-16 13:20] #63 closed, assigned to plfiorini

[2017-09-28 23:12] ShalokShalom opened #65 "Unwanted autoplay for media"
I think its very counterproductive, to start Youtube videos etc automatically, even without the tab activated.

[2017-09-29 05:55] ShalokShalom opened #66 "Ctrl + Shift + Tab"
Implement the mentioned key combination to move one tab to the left :smiley:

[2017-09-29 06:32] ShalokShalom opened #67 "Dynamically adjust tab width"
My tab bar is already confusing, with about 10 tabs open. Small tabs can fix that (auto-adjustment)

[2017-09-29 06:34] ShalokShalom opened #68 "Integrate Google and Co in context menu"
Currently, there is no option to find marked text within the context menu.

[2017-09-29 07:14] ShalokShalom opened #69 "Move tabs beyond the currently displayed tab selection"
The displayed tab row limits the movement of tab.
That means, I can move tabs so long as they are on the same selection of displayed tabayed tabs.
When I like to move tabs to the beyond range, is this currently impossible, as it seems.

[2017-09-29 12:34] timsueberkrueb commented on #65
Implementing proper options to prevent this would require QtWebEngine [to provide settings to affect media autoplay behaviour](https://bugreports.qt.io/browse/QTBUG-60799).

[2017-09-29 12:37] timsueberkrueb commented on #68
@ShalokShalom you mean adding a context menu option like `Search <search-engine> for <selection>`?

[2017-09-29 12:51] timsueberkrueb commented on #67
This is a design decision. There are multiple ways to handle many tabs. Chrome for example just continues to shrink tabs even if you can't really distinguish them anymore in the end.
Liri currently has a fixed tab width but allows you to scroll through the row of tabs instead.
I think that we should definitely reduce the tab width dynamically when there are many tabs but continue to rely on scroll

[2017-09-29 12:59] timsueberkrueb commented on #66
This is already [implemented](https://github.com/lirios/browser/blob/974ce54fc07ab866951f6d106f1537c3cf80ac5f/src/ui/window/ShortcutManager.qml#L112). @ShalokShalom is it not working for you? Are you using a Mac?

[2017-09-29 13:19] timsueberkrueb opened #70 "Drop QMake in favor of Qbs"
Is there anything in the way of getting rid of QMake?

[2017-09-29 13:34] timsueberkrueb opened #71 "Support search suggestions"
Based on browser history (#4), bookmarks (#3) and the DuckDuckGo API.

[2017-09-29 15:32] ShalokShalom commented on #66
Linux.

[2017-09-29 15:33] ShalokShalom commented on #67
I like it in Opera.

![screenshot_20170929_173308](https://user-images.githubusercontent.com/6344099/31023503-4f9be32a-a53c-11e7-910b-76a332ce5f90.png)

[2017-09-29 15:34] ShalokShalom commented on #68
Yeah, something like that.

[2017-09-29 15:35] timsueberkrueb commented on #66
@ShalokShalom and `Ctrl+Shift+Tab` not working for you? Are you sure you haven't mapped the combination somewhere else in your desktop or something like that?

[2017-09-29 15:35] ShalokShalom commented on #65
Thanks a lot. You can vote for this bug. :smile:

[2017-09-29 15:36] ShalokShalom commented on #66
Its working in Opera and all the other browsers. KaOS, Qt 5.9.1 and Liri-Browser 0.3.127

[2017-09-29 15:41] timsueberkrueb commented on #67
@ShalokShalom yeah, this is pretty much what Chrome is doing, too. I don't like it to be honest. I prefer to scroll my way through the tabs while always seeing the full tab titles rather than having to hover over/click on each tab to find the one I'm actually looking for.

[2017-09-29 15:44] timsueberkrueb commented on #66
Is `Ctrl+Tab` working?

[2017-09-29 15:46] timsueberkrueb commented on #66
[code]
Does this print anything in the console?

[2017-09-29 15:48] ShalokShalom commented on #66
Yes, Ctrl+Tab is working.

[2017-09-29 15:50] ShalokShalom commented on #66
It prints a white screen

![screenshot_20170929_174954](https://user-images.githubusercontent.com/6344099/31024212-a25722da-a53e-11e7-8446-51a3517d177e.png)

[2017-09-29 15:50] timsueberkrueb commented on #66
@ShalokShalom that's fine :) Does it print `Ctrl+Shift+Tab pressed` to the console when you press the combination?

[2017-09-29 15:52] ShalokShalom commented on #66
Yes.

[2017-09-29 15:58] timsueberkrueb commented on #66
Just pushed a commit that might fix it.

[2017-09-29 15:59] timsueberkrueb commented on #66
The shortcut's context was set to `Qt.ApplicationShortcut` but that *should* not be a problem (unless with multiple windows).

[2017-09-29 16:07] timsueberkrueb commented on #66
Okay, can you [try the latest AppImage](https://transfer.sh/iA7WI/Liri_Browser-git.54a5ec6-x86_64.AppImage) to check whether it's fixed? Thanks a lot!

[2017-09-29 16:10] ShalokShalom commented on #66
I build by myself and it works. :smile:

Thanks a lot dude ^-^

[2017-09-29 16:10] #66 closed, assigned to nobody

[2017-09-29 16:17] ShalokShalom commented on #67
Adjustable?

[2017-09-29 16:21] ShalokShalom commented on #67
I think also, a nice tab overview like in Opera makes sense:
https://blogs.opera.com/desktop/2015/03/opera-developer-tab-cycling-and-improved-tab-menu/

[2017-09-29 16:28] timsueberkrueb commented on #67
@ShalokShalom how do you switch between tabs when you have so many tabs opened? Do you hover above them? Do you use the tab menu? Do you click through them?

There are several things we'd have to take into consideration:
* Hovering tabs should show a preview of the website
* Touch screen support is problematic with very small tabs
* What is the behavior when there is no favicon
* Theme color suppo

[2017-09-29 16:40] timsueberkrueb commented on #4
Use `SQLite` via [Qt SQL](http://doc.qt.io/qt-5/qtsql-index.html).

[2017-09-29 19:07] ShalokShalom commented on #67
Tab preview is one of those things, who let me think "who does anybody profit from that" since it breaks my focus, when I hover over the tabs.

I simply know them by mind, mostly. The mentioned tab menu can help also, yes.
Tab grouping can help too.

About touch support and this feature in general: You can make it optional.

Can you spend me an example about any page without a favicon?

This here

[2017-09-29 19:47] ShalokShalom opened #72 "[Idea] Domain bundling"
Context menu of a tab >
Bundle domain >
All open tabs with the same domain get bundled into one tab.

So, all currently open Youtube tabs can get grouped together into one element, as an example.

![screenshot_20170929_214719](https://user-images.githubusercontent.com/6344099/31033308-cd22b490-a55f-11e7-8b87-a3c9f6ab75f1.png)

[2017-09-29 19:52] ShalokShalom opened #73 "[Idea] Session buddy"
Save and restore sessions: https://sessionbuddy.com/

[2017-09-29 20:38] #70 closed, assigned to nobody

[2017-09-30 12:21] plfiorini opened #74 "Qt Showroom"
Put Browser here: https://showroom.qt.io/

[2017-09-30 19:48] timsueberkrueb commented on #67
@ShalokShalom we can have a long discussion about this but in general I would like to avoid too many options because they always come with a maintenance burden (which we learned the hard way with the old browser). That being said, I really appreciate the feedback and if this turns out to be an essential feature for many users we can of course add an option (given someone will implement it) or even

[2017-09-30 19:53] plfiorini opened #75 "macOS support"
Setup macOS build and add it to CI

[2017-09-30 21:38] timsueberkrueb commented on #67
https://github.com/lirios/browser/commit/f397abae7326dc88428d587c1c8918ba2c9ade34 implements the mentioned dynamic tab widths.

[2017-09-30 21:38] #67 closed, assigned to nobody

[2017-09-30 23:28] #75 closed, assigned to plfiorini

[2017-10-07 22:44] timsueberkrueb commented on #39
It would make sense to move snap packaging to individual app repos (once functional like browser snap is) so we can get automatic builds via [build.snapcraft.io](https://build.snapcraft.io).
@plfiorini are you okay with that?

[2017-10-13 12:15] plfiorini commented on #39
@tim-sueberkrueb ok

[2017-10-14 13:05] timsueberkrueb commented on #39
WIP in `feature/snap`

[2017-11-07 06:51] timsueberkrueb commented on #62
Yay, should be [fixed](https://bugreports.qt.io/browse/QTBUG-61434) in Qt 5.9.3.

[2017-11-11 11:54] timsueberkrueb commented on #61
Looks like Qt 5.9 and Xenial on Ubuntu touch are slowly going to become a reality, maybe this can too :heart_eyes:

[2017-11-11 15:39] Flohack74 commented on #61
Yeah we are aiming now for Qt 5.9 and 16.04 to be usable, and there are first test builds. So anyone who wants to jump onboard this is pretty much welcomed...

[2017-11-17 20:09] timsueberkrueb commented on #39
[code]

[2017-11-17 20:09] #39 closed, assigned to timsueberkrueb

[2017-11-21 00:08] JLIT0 opened #77 "Flatpak edition segfaults on loading sandbox"
Also segfaults when the --nosandbox flag is added to the command.

However, the .deb for release 0.3 works fine.

Any chance of releasing a .deb as well?

[2017-11-21 18:58] timsueberkrueb commented on #77
@JLIT0 Hmm ... @plfiorini might know details about the flatpak issue. Try if exporting `QTWEBENGINE_DISABLE_SANDBOX=1` does the trick.

What if you try out our new snap packages as replacement for a deb? It's as easy as `snap install --edge liri-browser` :)

[2017-11-22 16:44] plfiorini commented on #77
Never experienced this problem, I will try again but it could be hardware related. There is a QtWebEngine bug with nouveau that is fixed in the upcoming Qt 5.10.0.

@JLIT0 are you using nouveau?

[2017-11-22 20:26] timsueberkrueb commented on #77
If it's the nouveau bug, try exporting `QT_XCB_FORCE_SOFTWARE_OPENGL=1` to force software rendering.

[2017-11-26 18:10] JLIT0 commented on #77
Hi there! Many apologies, I didn't see this before.  Yes, I'm using the Noveau drivers so I guess that's the reason for the segfault.  I'll try the NVIDIA Xorg drivers and see what happens with them.

As for the snap, it lead to a different set of issues as quoted below:

[code]

[2017-11-26 18:23] timsueberkrueb commented on #77
Hey @JLIT0, yeah, it should work with the proprietary drivers or when forcing software rendering.
Regarding the snap issues: Sorry, I should've mentioned it, you need to install the platform snap from the edge channel as well:
[code]

[2017-12-01 16:37] JLIT0 commented on #77
Hi there,

Thanks for the advice! I was able to get the browser running by using the snap as described and by switching to the NVIDIA drivers.

[2017-12-01 16:38] JLIT0 commented on #61
Similarly to this, it would be amazing if [Liri Browser could be packaged](https://wiki.postmarketos.org/wiki/Potential_apps) for [postmarketOS](https://postmarketos.org/).

The pmOS project already has QtWebEngine packed in its' repository so that won't be an issue.

[2017-12-01 17:46] ShalokShalom commented on #61
Thanks a lot for sharing.

[2017-12-17 02:17] svnpenn commented on #24
https://github.com/lirios/browser/issues/57

[2017-12-25 12:51] timsueberkrueb commented on #61
I've got Fluid demo installed and running on Ubuntu Touch (xenial, Qt 5.9) :confetti_ball: :

![screenshot](https://user-images.githubusercontent.com/11774614/34339588-794cc030-e976-11e7-96a9-a47a5553b1c3.png)

I was also trying to get Liri Browser running with XMir, with no success yet though:

[code]
Desktop file:
[code]
Launcher script:
[code]
I experience the same issue when trying to run a mi

[2017-12-25 14:08] timsueberkrueb commented on #61
I learned that I should not `export DISPLAY=:0` in my launcher.
Now I get a different issue:
[code]
Running a [minimal QtWebEngine example](https://gist.github.com/penk/dea91ab88e3e8c838662).

[2017-12-25 17:09] ShalokShalom commented on #61
This might help: https://forums.ubports.com/

Happy Grav-Mass ^^

[2017-12-30 14:29] timsueberkrueb commented on #77
I can reproduce the segfault with the Flatpak package on Ubuntu 17.10 (Intel integrated graphics):
[code]

[2018-01-02 19:12] JLIT0 commented on #61
If you're unable to make any progress with XMir, maybe you could try running Liri Browser with XWayland on the Plasma Mobile images or postmarketOS?

AFAIK, UBports is planning on switching to Wayland in the near future so this could be a solution to the issue.

[2018-01-02 22:15] timsueberkrueb commented on #61
@ShalokShalom thanks for the pointer, I asked for help in their telegram group :) No progress/new information yet, though.
@JLIT0 yeah, I'm definitely interested to try those out (if I can get them running on my Nexus 5) :)

[2018-01-03 08:22] ShalokShalom commented on #61
Oh yeah, postmarketOS is awesome ^-^

[2018-01-03 09:12] ShalokShalom commented on #61
Your phone is supported: https://wiki.postmarketos.org/wiki/Google_Nexus_5_(lg-hammerhead)

[2018-03-06 16:13] timsueberkrueb commented on #21
TODO:
* [ ] Test & make it work on Windows
* [ ] Test & make it work on macOS
* [x] Header should contain a version number (= app version ?)
* [x] Feedback should be submitted to the client socket

[2018-03-06 16:17] timsueberkrueb commented on #21
WIP in [feature/ipc_sockets](https://github.com/lirios/browser/tree/feature/ipc_sockets).

[2018-03-06 20:10] timsueberkrueb commented on #21
As @Aldrog mentioned, [QtSingleApplication](https://github.com/qtproject/qt-solutions/tree/master/qtsingleapplication) is probably better.

[2018-03-11 14:59] timsueberkrueb commented on #21
WIP in [feature/singleapplication](https://github.com/lirios/browser/tree/feature/singleapplication).

[2018-03-11 19:35] timsueberkrueb commented on #62
Fixed since Qt 5.9.3.

[2018-03-11 19:35] #62 closed, assigned to nobody

[2018-03-21 21:32] timsueberkrueb commented on #50
Done.

[2018-03-21 21:32] #50 closed, assigned to nobody

[2018-03-23 15:41] PoisonousJohn opened #82 "File uploading support"
If you try upload a file to any website you'll get a crash. I believe it's not implemented yet. So it's a bug and a lack of a feature in the same time.

This is essential for the first release.

[2018-03-23 18:17] timsueberkrueb opened #83 "Update settings schema"
Use camel case instead of snake case in JSON files.

[2018-03-27 17:50] #51 closed, assigned to nobody

[2018-03-27 17:51] PoisonousJohn commented on #11
Well, the way Chrome is doing it, once you leave tabs area (line) with cursor, it just creates a new window

[2018-03-28 16:45] timsueberkrueb commented on #11
Yeah, that should be good and simple enough.
I prefer how Firefox is only creating the window as soon as you drop the tab outside of the current window, though.

[2018-04-05 16:04] timsueberkrueb commented on #21
Merged.

[2018-04-05 16:04] #21 closed, assigned to nobody

[2018-04-05 16:08] timsueberkrueb commented on #82
@PoisonousJohn I cannot reproduce this issue here on Ubuntu 17.10 with Qt 5.10 on `develop`.
Tested it with Google Drive and Twitter.

[2018-04-05 16:35] timsueberkrueb opened #84 "Settings not saved anymore"

[2018-04-05 18:30] ChildishGiant opened #86 "Windows builds?"
Could the continuous builds be configged to also compile to windows?

[2018-05-09 09:31] plfiorini opened #87 "Crash on macOS"
[code]

[2018-05-19 14:29] Fabiusss9 commented on #84
Same here

[2018-05-22 11:37] PoisonousJohn commented on #84
@timsueberkrueb any details? Errors maybe?

[2018-05-23 09:13] #53 closed, assigned to nobody

[2018-05-23 09:39] timsueberkrueb commented on #84
[code]
[code]
Looks like `Settings` is destroyed before `onDestruction` is run.

[2018-05-23 09:47] #84 closed, assigned to nobody

[2018-05-23 09:50] timsueberkrueb commented on #82
@PoisonousJohn any update? Can anyone else reproduce this? What environment (OS, Qt version) did you use?
EDIT: Cannot reproduce on Ubuntu 18.04 with Qt 5.10 and Qt 5.11.

[2018-05-23 10:11] #83 closed, assigned to nobody

[2018-05-23 10:29] #32 closed, assigned to nobody

[2018-05-23 10:43] PoisonousJohn commented on #82
@timsueberkrueb it was under archlinux

[2018-05-23 10:48] PoisonousJohn commented on #82
@timsueberkrueb strange, can't reproduce it either. Closed.

[2018-05-23 10:48] #82 closed, assigned to nobody

[2018-05-23 11:16] timsueberkrueb opened #88 "Custom search url setting broken"
When changing the custom search url in `liri://settings`, it does not take effect immediately (only after restart). Instead it results in users landing on invalid `qrc://` urls when searching.

[2018-05-23 20:51] zubozrout commented on #61
Hello @timsueberkrueb, it seems as Xenial is getting closer to the final OTA release. And I wonder, what are the current blockers for Liri Browser to run on Ubuntu Touch?

[2018-05-24 07:06] timsueberkrueb commented on #61
Hey @zubozrout, I think @mariogrip [made QtWebEngine work](https://github.com/ubports/qtwebengine-opensource-src-packaging/pull/1
), so I will try that out :)

The problem with porting the browser is that we're already requiring Qt >= 5.10 for Liri Browser while Ubuntu touch is likely going to stay on the Qt 5.9 LTS release (afaik).

[2018-05-24 07:58] Flohack74 commented on #61
Yes, Qt 5.9 will be the one for xenial. Due to so many changes also for App compatibility we do not want to make it more unstable at the moment. That said, we might consider an upgrade to 5.10 later, since its not a required part of Ubuntu 16.04 per se, and could be upgraded any time.

[2018-05-24 10:51] timsueberkrueb commented on #61
While [security fixes for Chromium are ported to QtWebEngine for the LTS release 5.9](http://blog.qt.io/blog/2018/01/23/qt-5-9-4-released/), the Chromium version (56) is not updated. New Qt releases usually come with an updated Chromium version as well so it is in general probably desirable to use the latest Qt version for QtWebEngine applications (like Liri Browser).

[2018-05-24 11:43] mariogrip commented on #61
We will use updated QtWebEngine, since that does not need to match the others for that reason.
Right now we use 5.10 with backports from 5.11beta and we will update up 5.11 once its in Debian.
The reason for this is we need egl support without x11 and this was a problem in 5.9 and also in
5.10 (reason for backport) we will try to use the latest QtWebEngine when we can

May 24, 2018 12:51 PM, "Tim

[2018-05-26 12:25] timsueberkrueb commented on #61
Hey @mariogrip, I created a demo QtWebEngine app and installed the new QtWebEngine package on my device.
I made sure to export the environment variables as you described:

[code]

There still seems to be at least an issue with the resources:
[code]
Do you have an idea what I'm missing? Thanks a lot :)

[2018-05-26 22:21] mariogrip commented on #61
@timsueberkrueb I wonder, did you install the qtwebengine-data package? since it seems to not find ICU date

[2018-05-27 07:05] timsueberkrueb commented on #61
Yep, it's installed:
[code]
I tried to adapt the `Data` path property in a `qt.conf` to point it to the right location but it seemed like it was already using the correct path to look for the resources.

EDIT: [Here](https://drive.google.com/open?id=1V_uMSGu9v03HYOBOXgY3Qh6mebPRD7-W) is the click package I tried this with.

[2018-12-04 10:40] plfiorini opened #89 "Add CMake build system"
See https://github.com/lirios/lirios/issues/60

[2019-01-01 09:22] VergeDX opened #90 "BrowserWindow is not a type."
[code]

[2019-01-04 22:16] #89 closed, assigned to plfiorini

[2019-01-13 12:39] plfiorini commented on #90
Fixed.

[2019-01-13 12:39] #90 closed, assigned to plfiorini

[2020-10-17 16:43] mmjvox opened #92 "Request load qml pages"
Can this browser load qml pages like html pages?
It would be great if browsers also supported qml.

[2020-10-17 16:50] timsueberkrueb commented on #92
In theory, yes, but it would not be secure, at least not with feasible investment.
Browser engines are designed to run untrusted code, the QML engine is not.
Loading local (trusted) QML files might be okay for testing purposes but then one can just use `qmlscene` to achieve the same thing.
Qt [supports WebAssembly](https://doc.qt.io/qt-5/wasm.html) so that's probably the way to go if you want to u

[2020-10-17 16:50] #92 closed, assigned to nobody

[2020-10-26 21:43] mmjvox commented on #92
minimum output size of qt webassembly for qml is about 20 MB

[2021-01-25 13:50] samarth-ramesh opened #93 "Liri Documentation Link Broken"
the link to the documentation at [https://liri-dev.readthedocs.io/en/latest/modules/browser/ ](https://liri-dev.readthedocs.io/en/latest/modules/browser/) appears to be broken. The entire subdomain appears to 404 for me.

[2021-06-07 07:04] lnnt opened #94 "Documentation 404"
Documentation 404 in `README.md`.

[2021-06-07 07:06] lnnt commented on #94
## Documentation

Find more information in the [Liri Browser documentation](https://liri-dev.readthedocs.io/en/latest/modules/browser/).

[2021-10-26 15:50] i2 commented on #93
I wanted to again bring this to attention. T whole domain is 404!

[2021-10-29 09:46] plfiorini commented on #93
The new link is https://docs.liri.io/modules/browser/

[2021-10-29 09:48] #93 closed, assigned to nobody

[2021-10-30 06:47] samarth-ramesh commented on #93
Thanks!

________________________________________
From: Pier Luigi Fiorini ***@***.***>
Sent: 29 October 2021 15:17
To: lirios/browser
Cc: Samarth Ramesh; Author
Subject: Re: [lirios/browser] Liri Documentation Link Broken (#93)

The new link is https://docs.liri.io/modules/browser/

—
You are receiving this because you authored the thread.
Reply to this email directly, view it on GitHub<https://g